:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --size-button: 100px;
  --size-logo: 300px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  width: var(--size-logo);
  transition: transform 300ms;
  border-radius: 50%;
  margin-bottom: 50px;
  border-style: inset;
  border-top-style: none;
  border-left-style: none;
  border-right-color: var(--color-black);
  border-bottom-color: var(--color-black);
}

.imgbtn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: transform 300ms;
  border-radius: 20px;
  margin-left: 20px;
  border-style: inset;
  border-top-style: none;
  border-left-style: none;
  border-right-color: var(--color-black);
  border-bottom-color: var(--color-black);
}

.imgbtn:hover,
.logo:hover {
  transform: scale(1.2);
}

.items {
  width: 80%;
  height: 80%;
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
}
.item__thumbnail {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 10px;
}
.item__description {
  margin-left: 20px;
  font-size: 50px;
  font-style: oblique;
}
